<div class="dev_toolbar">
  <% if true # check if web_git is installed %>
    <%= link_to "Git", "/git", class: "dev_tools_button btn btn-outline-secondary" %>
  <% end %>

  <% if true # check if web-console is installed %>
    <% if true # check if IP whitelisted %>
      <% console %>

      <%= link_to "Console", "#", id: "console_button", class: "dev_tools_button btn btn-outline-secondary" %>

      <script>
        document.addEventListener("turbolinks:load", function() {
          $("#console").hide();

          $("#console_button").on("click", function() {
            $("#console").toggle();
            return false;
          });
        });
      </script>
    <% else %>
      Button to slide up a div that contains the command to whitelist IP
    <% end %>

  <% end %>
</div>
